
*

!.gitignore
!requirements.txt
!setup.py
!environment.yml
!*.py
!src/
!src/**.py
flycheck*py

!configs/
!configs/heterodimeric
!configs/symmetric/
!configs/**.ini


!inputs/
!inputs/**
!inputs/pdbs/
!inputs/pdbs/**.pdb

!scripts/
!scripts/prepacking.py

!images/
!images/*png

configs/sample_config_mass.ini
