
*

!.gitignore
!requirements.txt
!setup.py
!environment.yml
!*.py
!src/
!src/**.py
!tests/
!tests/outputs
!tests/outputs/symmetric_relax
flycheck*py

!configs/
!configs/heterodimeric
!configs/symmetric/
!configs/**.ini


!inputs/
!inputs/**
!inputs/pdbs/
!inputs/pdbs/**.pdb

!scripts/
!scripts/prepacking.py
!scripts/af_to_evodock.py
!scripts/symmetric_relax.py
!scripts/make_symmdef_file.pl

!images/
!images/*png

configs/sample_config_mass.ini
