
*

!.gitignore
!*.py
!src/
!src/**.py

!configs/
!configs/**.ini


!inputs/
!inputs/**
!inputs/pdbs/
!inputs/pdbs/**.pdb

!scripts/
!scripts/prepacking.py

!images/
!images/*png

configs/sample_config_mass.ini